@mixin flex{
    display: flex; justify-content: space-between;
    align-items: center;
}
ul{ list-style: none;}
*{ margin: 0; padding: 0; box-sizing: border-box;}
.con{
    max-width: 1200px; margin: auto;
}
.banner{
    background: url(https://sangalotech.com/html/10/assets/images/hero-bg.jpg);
    background-size: cover;
    height: 100vh;
    padding: 20px 0;
    .con
    {
        @include flex;
    }
    nav{
        ul{
            @include flex; gap: 20px;
            a{color: #fff; text-decoration: none;}
        }
    }
}